@import url("https://fonts.googleapis.com/css?family=Poppins:700");
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: #f2f2f2;
}
.container {
  /* position: absolute; */
  margin: auto;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
}
.container .search {
  background-image: url("photo.jpg");
  background-size: contain;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.container .search:hover {
  cursor: pointer;
}
.container .search:before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: #fff;
  transform: rotate(45deg);
  transition: all 0.5;
}
.container .search:after {
  content: "";
  position: absolute;
  margin: auto;
  top: 0px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: all 0.5;
}
.container input {
  font-family: "Poppins", sans-serif;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: yellow;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 red, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
  color: #004400;

}
.container input:hover {
  cursor: pointer;
}
.container .testClass {
  width: 300px;
  top: -550px;
  opacity: 1;
  cursor: text;
}
.container .testClass ~ .search {
  top: -550px;
  right: -250px;
  z-index: 6;
}
.container .testClass ~ .search:before {
  top: 0;
  left: 0;
  width: 25px;
}
.container .testClass ~ .search:after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: #fff;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.container input::placeholder {
  color: #fff;
  opacity: 0.5;
  font-weight: bolder;
}

.pokemonResults{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
  margin-left: 39%;
  width: 20%;
  height: auto;
  border-radius: 2%;
  box-shadow: 5px 5px lightgray;
  z-index: 2;
}
.hideResults{
  display: none;
}
.input {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.body {
  font-family: "Open Sans", Helvetica, sans-serif;
  text-align: center;
  margin: 20px;
}
.card {
      /* display: inline-block; */
      width: 375px;
      padding: 1em;
      border-radius: 15px;  
      margin: 10px;
      background: rgb(255, 255, 255);
      text-align: left;
      border: 5px solid gray;
      display: none;
}
img {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 150px;
  width: 150px;
  height: 150px;
  margin: auto;
}
th, td {
  width: 50%;
  padding: 0.25em 0.5em 0;
}
th{
    text-align:  right;
}
td{
    text-align: center;
}
.name{
    text-align: center;
    font-size: 25px;
}

.types{
  text-align: center;
}

.widthHeight{
  display: flex;
  justify-content: space-between;
}
.abilities{
  text-align: center;
  margin-top: 2%;
}

@media only screen and (min-width: 1100px){
  .pokemonResults{
    margin-top: 10%;
  }
}

@media only screen and (max-width:700px){
  .pokemonResults{
    margin-top: 20%;
  }
}